body{
    font-family: Arial, Helvetica, sans-serif;
}
dt{
    background-color: rgb(65, 112, 100);
    padding: 10px;
   
dl{
    color: white;
    font-size: 25px;
}
dd{
    background-color: rgb(80, 163, 142);
    padding: 25px;
    margin: 0px;
}
