.elefant{
    width: 0px;
    height: 0px;
    background-color: black;
    border-right: 50px solid grey;
    border-bottom: 80px solid grey;
    position: relative;
    top: 20px;
    left: 25px;
}
.elefant::before{
    content: ' ';
    display: block;
    border: 23px solid gray;
    border-color: transparent grey grey transparent;
    position: relative;
    top: -20px;
    left: -25px;
}
.elefant::after{
    content: ' ';
    display: block;
    border: 23px solid gray;
    border-color:   transparent transparent grey grey;
    position: relative;
    top: -65px;
    left: 30px;
}